<h2>Bernhard Körner</h2>

<p>Bernhard Körner è nato nel 1949 a Klagenfurt.</p>
<p>Ha studiato teologia e anglistica a Graz; nel 1976 è stato ordinato sacerdote a Graz, poi Capellano presso il duomo di Graz, assistente spirituale degli studenti alla Katholische Hochschulgemeinde di Graz e guida spirituale al Seminario.</p>
<p>Nel 1979 ha conseguito il dottorato in teologia a Graz.</p>
<p>Dal 1983 ha intrapreso lo studio per l’abilitazione, conclusa nel 1991 con la tesi su <em>Melchior Cano. Ein Beitrag zur Theologischen Erkenntnislehre</em> (Graz 1994) presso l’Università di Tubinga con il Prof. Max Seckler.</p>
<p>Dal 1993 é Professore di Teologia dogmatica alla Katholische-Theologische Fakultät della Karl-Franzens-Universität di Graz, in cui ha svolto diverse funzioni, da ultima quella di Decano dal 2003 al 2005.</p>
<p>Negli ultimi anni è stato attivo anche nella Diocesi di Graz-Sekau e, a livello nazionale,  membro e Presidente del Consiglio per il lavoro, Referente della Diocesi per l’Ecumenismo, sostituto della Diocesi nella Commissione della Conferenza episcopale austriaca, membro della Commissione mista cattolico-evangelica a Vienna, membro del Consiglio ecumenico della Chiesa in Austria.</p>
<p>Dal 2005 consulente della Katholisches Bildungswesen e Membro corrispondente della Accademia pontificia di Teologia.</p>

<h3>Pubblicazioni</h3>
<ul>
  <li>
    <em>Melchior Cano, De locis theologicis. Ein Beitrag zur Theologischen Erkenntnislehre.</em> (Habilitationsschrift, veröffentlicht mit Unterstützung des FWG, Graz 1994)
  </li>
  <li>
    <em>Was von Himmel kommt, muss aus der Erde wachsen. Weg christlicher Berufung.</em> Innsbruck 2002 (zus. Mit Christa Baich)
  </li>
  <li>
    <em>Gottes Gegenwart. Eine Entdeckungsreise zum Sinn der Eucharistie.</em> Innsbruck 2005
  </li>
  <li>
    <em>Geistliche Begleitung und Bußsakrament. Impulse für die Praxis.</em> Würzburg 2007
  </li>
  <li>
    <em>Glauben leben – Theologie studieren.</em> Innsbruck 2008 (zus. Mit Baich, Christa und Klimann, Christine)
  </li>
  <li>
   <em>Freudig und furchtlos. Das II. Vatikanische Konzil wieder lesen.</em> Graz 2011
  </li>
  <li>
    <em>Die Bibel als Wort Gottes auslegen. Historisch-kritische Exegese und Dogmatik.</em> Wurzburg 2011
  </li>
  <li>
    <em>Gute Gründe für ein Leben in der Kirche.</em> Innsbruck 2012
  </li>
</ul>
