<h2>Vasile Musca</h2>

<p>Nato il 3 dicembre 1960 a Zalău, jud. Sălaj, Romania.</p>
<p>1967-1979 - scuola elementare, ginnasiale e liceo al Liceo”George Coşbuc” Cluj.</p>
<p>1980-1985 – Istituto Politecnico Cluj.</p>
<p>1988-1997 – studi alla Pontificia Università Gregoriana Roma.</p>
<p>2003- Dottore alla Facoltà di Storia Ecclesiastica, Gregoriana, Roma.</p>
<p>1998- docente di storia ecclesiastica alla Facoltà di Teologia Greco-Cattolica, Università “Babeş-Bolyai”, Dipartimento Oradea.</p>
