<h2>Vasile Musca</h2>

<p>Nato il 1 giugno 1944 a Sânicolaul Mare, jud. Timiş, Romania.</p>
<p>1951-1962 – scuola elementare, ginnasiale e liceo al Liceo “Emanoil Gojdu” Oradea.</p>
<p>1962-1967 – Facoltà di storia e filosofia, Università “Babeş-Bolyai” Cluj.</p>
<p>1967-2009- docente di filosofia alla stessa università. Ora emerito. Dal 1998 professore associato alla Facoltà di Teologia Greco-cattolica, Università “Babeş-Bolyai”, Dipartimento Oradea.</p>
<p>Campo di ricerca: filosofia antica; idealismo tedesco; filosofia della storia.</p>
