    <h2>Attività 2023</h2>

    <strong>13-15 aprile 2023</strong>
    <p>Convegno per il 50 dell'ADIF - Identit&agrave; e relazione: sguardi concentrici sulla persona</p>
    <p><a href="/docs/presentazione-adif.pdf">Presentazione ADIF (PDF)</a></p>
    <p><a href="/docs/convegno-2023-invito.pdf">Invito (PDF)</a></p>
    <p><a href="/docs/convegno-2023-locandina.pdf">Locandina (PDF)</a></p>
    <p><a href="/docs/convegno-2023-pieghevole.pdf">Pieghevole (PDF)</a></p>

