    <h2>Attività 2019</h2>

    <strong>9 ottobre 2019</strong>
    <p>Convegno e presentazione rivista "Per la filosofia".</p>
    <p><a href="/docs/locandina-convegno-9-ottobre.pdf">Locandina "I fondamenti filosofici della democrazia" (PDF)</a></p>

    <strong>8 novembre - 10 novembre 2019</strong>
    <p>Dal 8 al 10 novembre a Firenze, si terrà il convegno <em>La cura dell'anima. Comunicare, educare, pensare</em>.

    <p><a href="https://www.youtube.com/playlist?list=PLS5bu3uDfRRd_TOtYhL2TNTt2gslRyCl3">Video del convegno</a></p>
    <p><a href="/docs/cronaca-la-cura-dellanima.pdf">Cronaca del convegno a cura di D. Penna</a></p>

    <p><img src="/docs/invito-cura-dellanima.jpg" width="800px" /></p>

    <p><a href="https://www.youtube.com/watch?v=q8YK7UIKszM">Video presentazione convegno 2019</a></p>
    <p><a href="/docs/presentazione-convegno-2019-la-cura-dellanima.docx">Presentazione convegno 2019 - La cura dell'anima (DOC)</a></p>
    <p><a href="/docs/carissimi-soci.docx">Invito al convegno (DOC)</a></p>
    <p><a href="/docs/locandina-cura-dellanima.pdf">Locandina - La cura dell'anima (PDF)></a></p>
    <p><a href="/docs/pieghevole-cura-dellanima.pdf">Pieghevole - La cura dell'anima (PDF)</a></p>
    <p><a href="/docs/modulo-prenotazione-villa-la-stella-8-10-novembre-2019.pdf">Modulo prenotazione Villa La Stella (PDF)</a></p>
    <p><a href="/docs/villa-la-stella-come-arrivare.docx">Villa La Stella - Come arrivare (DOC)</a></p>

    <strong>9 novembre 2019</strong>
    <p>Assemblea soci A.D.I.F. a Firenze.</p>
    <p><a href="/docs/resoconto-assemblea-2019.pdf">Resoconto dell'assemblea</a></p>
