    <p>La nostra associazione (ADIF) insieme alla SFI (Società Filosofica Italiana), sezione lombarda, sta organizzando un convegno dal titolo:</p>

    <p><em><strong>Metafisica oggi. Analisi della realtà e formazione dei giovani</strong></em></p>

    <p>che si terrà dal 30 novembre al 1° dicembre 2017 a Milano, presso l’Università Cattolica e presso la Statale.</p>
    <p>Il convegno prevede una serie di conferenze nelle due mattinate di giovedì e venerdì (una alla Cattolica e una alla Statale) e una tavola rotonda nel pomeriggio del 30 novembre (in Cattolica). Ulteriori informazioni verranno date appena il programma sarà precisato. La partecipazione, rivolta in particolare ai nostri associati, è aperta a tutti.</p>
