    <h2>Attività 2022</h2>

    <strong>29 ottobre 2022</strong>
    <p>Giornata di studi per il 50 anniversario dell'ADIF</p>
    <p><a href="/docs/invito-giornata-studi-50-anniversario.pdf">Invito (PDF)</a></p>
    <p><a href="/docs/programma-giornata-studi-50-anniversario.pdf">Programma e informazioni utili (PDF)</a></p>
    <p><a href="/docs/persona-si-dice-in-molti-modi-50-anniversario.pdf">Persona si dice in molti modi. Verso il convegno giornata di studi per il cinquantesimo dell'ADIF (PDF)</a></p>

