    <h2>Consiglio nazionale A.D.I.F. 2013 - 2015</h2>
    <ul>
     <li>
      Presidente onorario<br />
      <b>Giovanni Battista Mondin</b><br />
      via San Martino, 8 - 43100 Parma
     </li>
     <li>
      Presidente nazionale e legale rappresentante<br />
      <b><a href="http://accademiaharmonia.org/html/it/giuseppe_schiff.html">Giuseppe Schiff</a></b><br />
      via Rubignacco, 18/3 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Vice presidente<br />
      <b>Francisco De Macedo</b><br />
      via Anagnina, 13 - 00046 Grottaferrata (Roma)
     </li>
     <li>
      Segretaria nazionale<br />
      <b><a href="http://accademiaharmonia.org/html/it/paola_gasparutti.html">Paola Gasparutti</a></b><br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Francesco Alfieri</b><br />
      Collegio S. Isidoro<br />
      via degli Artisti 41 - 00187 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Giovanni Chimirri</b><br />
      via Massimo D'Azeglio, 66 - 20025 Legnano (Milano)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Gennaro Cicchese</b><br />
      via Tuscolana, 73 - 00044 Frascati (Roma)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Roberto Cipriani</b><br />
      via del Mascherino, 75 - 00183 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Anna Maria Pezzella</b><br />
      via Garibaldi, 346 - 80055 Portici (Napoli)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Franceso Russo</b><br />
      p.zza Sant'Apollinare, 49 - 00186 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Maria Teresa Russo</b><br />
      via Lungotevere delle Armi, 13 - 00195 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Giorgia Salatiello</b><br />
      via P. Borsieri, 26 - 00195 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Luca Valera</b><br />
      FAST - Universit&agrave; Campus Bio-Medico,<br />
      via del Portillo, 21 - 00128 Roma
     </li>
    </ul>
