    <h2>Consiglio nazionale A.D.I.F. 2011 - 2013</h2>
    <ul>
     <li>
      Presidente onorario<br />
      <b>Giovanni Battista Mondin</b><br />
      via Aurelia, 287 - 00165 Roma
     </li>
     <li>
      Presidente e legale rappresentante dell'A.D.I.F.<br />
      <b><a href="http://accademiaharmonia.org/html/it/giuseppe_schiff.html">Giuseppe Schiff</a></b><br />
      via Rubignacco, 18/3 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Vice presidente<br />
      <b>Francisco De Macedo</b><br />
      p.zza della Maddalena, 53 - 00186 Roma
     </li>
     <li>
      Segretaria nazionale<br />
      <b><a href="http://accademiaharmonia.org/html/it/paola_gasparutti.html">Paola Gasparutti</a></b><br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (Udine)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Gennaro Cicchese</b><br />
      via Tuscolana, 73 - 00044 Frascati (Roma)
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Roberto Gallinaro</b><br />
      via Colli Aminei, 2 - 80131 Napoli
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Giovanni Magr&igrave;</b><br />
      v.le Vittorio Veneto, 131 - 95127 Catania
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Giuseppe Natoli</b><br />
      corso Vittorio Emanuele II, 79 - 65121 Pescara
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Franceso Russo</b><br />
      p.zza Sant'Apollinare, 49 - 00186 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Maria Teresa Russo</b><br />
      via Lungotevere delle Armi - 00165 Roma
     </li>
     <li>
      Consigliere nazionale<br />
      <b>Giorgia Salatiello</b><br />
      via P. Borsieri, 26 - 00195 Roma
     </li>
    </ul>
