    <h2>Consiglio nazionale A.D.I.F.</h2>
    <ul>
     <li>
      Presidente nazionale e legale rappresentante<br />
      <b>Gennaro Cicchese</b><br />
      Parr. SS. Crocifisso, via di Bravetta, 332 - 00164 Roma
     </li>
     <li>
      Vice presidente<br />
      <b>Giovanni Salmeri</b><br />
      via Carroceto, 154/A - 04011 Aprilia (LT)
     </li>
     <li>
      Segretaria nazionale<br />
      <b>Claudia Caneva</b><br />
      via Renato Fucini, 266 - 00137 Roma
     </li>
     <li>
      Consiglieri nazionali (nord)
      <ul>
       <li>
        <b>Dario Sacchi</b><br />
        via Giuditta Sidoli, 2 - 20129 Milano
       </li>
       <li>
        <b>Giovanni Chimirri</b><br />
        via Massimo D'Azeglio, 66 - 20025 Legnano (Milano)
       </li>
       <li>
        <b>Davide Penna</b><br />
        via La Spezia, 6A/20 scala destra - 16149 Genova
       </li>
       <li>
        <b>Giuseppe Bonvegna</b><br />
        via Ovada, 25 - 20142 Milano
       </li>
      </ul>
     </li>
     <li>
      Consiglieri nazionali (centro)
      <ul>
       <li>
        <b>Angela Ales Bello</b><br />
        via Nanchino, 215 B - 00144 Roma
       </li>
       <li>
        <b>Maria Teresa Russo</b><br />
        via Lungotevere delle Armi, 13 - 00195 Roma
       </li>
       <li>
        <b>Tommaso Valentini</b><br />
        via Montepincio, 25 - 06049 Spoleto (Perugia)
       </li>
      </ul>
     </li>
     <li>
      Consiglieri nazionali (sud)
      <ul>
       <li>
        <b>Anna Maria Pezzella</b><br />
        via Garibaldi, 346 - 80055 Portici (Napoli)
       </li>
       <li>
        <b>Michele Indellicato</b><br />
        via Cellamare, 42 - 70010 Capurso (Bari)
       </li>
      </ul>
     </li>
    </ul>
