    <h2>Contatti</h2>
    <p>Alcuni indirizzi utili per contattare l'A.D.I.F.</p>
    <ul>
     <li>
      A.D.I.F.<br />
      e-mail: <a href="mailto:info&#64;adif-italia&#46;org">info<!-- at -->&#64;adif-italia<!-- dot -->&#46;org</a>
     </li>
     <li>
      Presidente<br />
      prof. Gennaro Cicchese<br />
      Casa Provinciale O.M.I.<br />
      via Tuscolana, 73 - 00044 Frascati (Roma)<br />
      tel. +39 06 9408377<br />
      fax. +39 06 9408017<br />
      cell. +39 338 4283581 <br />
      e-mail: <a href="mailto:gennarocicchese&#64;gmail&#46;com">gennarocicchese<!-- at -->&#64;gmail<!-- dot -->&#46;com</a>
     </li>
     <li>
      Vice presidente<br />
      prof. Roberto Cipriani<br />
      via del Mascherino, 75 - 00183 Roma<br />
      tel. (universit&agrave;) +39 06 57339110<br />
      tel. (casa) +39 06 68803496<br /> 
      cell. +39 347 5160442<br />
      e-mail: <a href="mailto:roberto.cipriani&#64;uniroma3&#46;it">roberto.cipriani<!-- at -->&#64;uniroma<!-- dot -->&#46;it</a>
     </li>
     <li>
      Segretaria nazionale<br />
      prof. ssa Claudia Caneva<br />
      via Renato Fucini, 26 - 00137 Roma<br />
      cell. +39 328 2870759<br />
      e-mail: <a href="mailto:claudiacaneva&#64;libero&#46;it">claudiacaneva<!-- at -->&#64;libero<!-- dot -->&#46;it</a>
     </li>
    </ul>
