    <h2>Contatti</h2>
    <p>Alcuni indirizzi utili per contattare l'A.D.I.F.</p>
    <ul>
     <li>
      A.D.I.F.<br />
      e-mail: <a href="mailto:adif&#64;interfree&#46;it">adif<!-- at -->&#64;interfree<!-- dot -->&#46;it</a>
     </li>
     <li>
      Presidente<br />
      prof. Aniceto Molinaro<br />
      p.zza Cavalieri di Malta, 5 - 00153 Roma<br />
      tel. 06 5791344 - fax. 06 5746863<br />
      e-mail: <a href="mailto:molinaro&#46;aniceto&#64;tin&#46;it">molinaro<!-- dot -->&#46;aniceto<!-- at -->&#64;tin<!-- dot -->&#46;it</a>
     </li>
     <li>
      Vice presidente<br />
      prof. Giuseppe Schiff<br />
      via Rubignacco, 18/3 - 33043 Cividale del Friuli (UD)<br />
      tel. 0432 733796<br />
      e-mail: <a href="mailto:immanuelk&#64;libero&#46;it">immanuelk<!-- at -->&#64;libero<!-- dot -->&#46;it</a>
     </li>
     <li>
      Segretaria nazionale<br />
      m.a Paola Gasparutti<br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (UD)<br />
      tel. 0432 730925 - fax. 0432 733626<br />
      e-mail: <a href="mailto:paolagas2000&#64;libero&#46;it">paolagas2000<!-- at -->&#64;libero<!-- dot -->&#46;it</a>
     </li>
    </ul>
