    <h2>Contatti</h2>
    <p>Alcuni indirizzi utili per contattare l'A.D.I.F.</p>
    <ul>
     <li>
      A.D.I.F.<br />
      e-mail: <a href="mailto:info&#64;adif-italia&#46;org">info<!-- at -->&#64;adif-italia<!-- dot -->&#46;org</a>
     </li>
     <li>
      Presidente<br />
      prof. Giuseppe Schiff<br />
      via Rubignacco, 18/3 - c.p. 68 - 33043 Cividale del Friuli (UD)<br />
      tel. +39 0432 733796<br />
      fax. +39 0432 733796<br />
      cell. +39 333 4990906<br />
      e-mail: <a href="mailto:immanuelk&#64;libero&#46;it">immanuelk<!-- at -->&#64;libero<!-- dot -->&#46;it</a>
     </li>
     <li>
      Vice presidente<br />
      prof. Francisco De Macedo<br />
      piazza della Maddalena, 53 - 00186 Roma<br />
      tel. +39 06 899281<br />
      cell. +39 328 6182012<br />
      e-mail: <a href="mailto:seneca2104&#64;gmail&#46;com">seneca2104<!-- at -->&#64;gmail<!-- dot -->&#46;com</a>
     </li>
     <li>
      Segretaria nazionale<br />
      m.a Paola Gasparutti<br />
      via del L&ocirc;f, 23 - 33043 Cividale del Friuli (UD)<br />
      tel. +39 0432 730925<br />
      cell. +39 347 3931338<br />
      e-mail: <a href="mailto:paolagasparutti&#64;libero&#46;it">paolagasparutti<!-- at -->&#64;libero<!-- dot -->&#46;it</a>
     </li>
    </ul>
