    <h2>Convegni e attivit&agrave; locali</h2>
    <ul>
     <li>
      <p><strong>IL <em>LOGOS</em> IN FRIULI VENEZIA GIULIA<br />
      Figure del pensiero filosofico friulano giuliano</strong></p>
      <p>(Cividale del Friuli, 16-17-18 ottobre 2008)</p>
     </li>
     <li>
      <p><strong>PENSIERO ED ESISTENZA</strong></p>
      <p>Incontro-dibattito in onore del filosofo goriziano Carlo Michelstaedter a cento anni dalla morte.</p>
      <p>Gorizia, sabato 18 settembre 2010, ore 10.30.<br />
      Auditorium "Biagio Marin" - via XX Settembre, 11</p>
      <p>L'incontro &egrave; organizzato dall'Associazione "Incontri Mitteleuropei" e dall'"Associazione Docenti Italiani Di Filosofia" con il patrocinio della Provincia di Gorizia.</p>
      <p>Le relazioni, cui seguir&agrave; il dibattito, saranno tenute da:</p>

      <p>Prof. Aniceto Molinaro<br />
      (Presidente nazionale del'A.D.I.F. e gi&agrave; docente di Metafisica all'Universit&agrave; del Laterano di Roma)<br />
      <strong>"Carlo Michelstaedter: filosofia e parmenidismo"</strong></p>

      <p>Dott. Michele Schiff<br />
      (Dottore di ricerca in Filosofia e Cultore della materia presso l'Universit&agrave; di Trieste)<br />
      <strong>"Ontologia e poesia di Carlo Michelstaedter"</strong></p>
     </li>
    </ul>
