    <h2>Convegni A.D.I.F.</h2>
    <p>Come previsto nello Statuto, l'attivit&agrave; dell'Associazione trova il suo punto culminante nei Convegni biennali, che servono sia al dibattito sulla vita dell'Associazione, sia allo studio e all'approfondimento di tematiche teoretiche o storico - filosofiche.</p>
    <p>I convegni tenutisi fino ad ora sono stati i seguenti:</p>
    <ol>
     <li>
      L'insegnamento filosofico dopo il Vaticano II<br />
      (Napoli, dicembre 1967)
     </li>
     <li>
      Ristrutturazione antropologica dell'insegnamento filosofico<br />
      (Napoli, aprile 1969)
     </li>
     <li>
      Tempo e storicit&agrave; dell'uomo<br />
      (Ariccia, dicembre 1970)
     </li>
     <li>
      Il problema del fondamento<br />
      (Assisi, dicembre 1972)
     </li>
     <li>
      Il problema della fondazione morale<br />
      (Roma, dicembre 1974)
     </li>
     <li>
      Marxismo e cristianesimo<br />
      (Verona, dicembre 1976)
     </li>
     <li>
      Cultura e politica<br />
      (Rocca di Papa, dicembre 1978)
     </li>
     <li>
      Il problema di Dio in filosofia e in teologia<br />
      (Viterbo, dicembre 1980)
     </li>
     <li>
      Umanesimo cristiano e umanesimi contemporanei<br />
      (Palermo, dicembre 1982)
     </li>
     <li>
      L'uso della ragione nelle scienze, in filosofia e in teologia oggi<br />
      (Ravenna, settembre 1984)
     </li>
     <li>
      Ragioni della pace ed istanze della libert&agrave;<br />
      (Cassino, dicembre 1986)
     </li>
     <li>
      I compiti della ragione nella societ&agrave; tecnologica<br />
      (Verona, settembre 1988)
     </li>
     <li>
      Educare alla filosofia<br />
      (Roma, settembre 1990)
     </li>
     <li>
      Filosofia e cultura nell'Europa di domani<br />
      (Cividale del Friuli, settembre 1992)
     </li>
     <li>
      Metafisica ed ermeneutica<br />
      (Paestum, settembre 1994)
     </li>
     <li>
      L'enigma uomo: individuo, persona, personalit&agrave;<br />
      (Manoppello, settembre 1996)
     </li>
     <li>
      Verit&agrave; e libert&agrave; nella cultura contemporanea<br />
      (Gallarate, settembre 1998)
     </li>
     <li>
      Filosofia e religione: risposte all'uomo del III millennio<br />
      (Paestum, gennaio 2000)
     </li>
     <li>
      <a href="convegno_2003.html">Filosofia e arte</a><br />
      (Cividale del Friuli, settembre 2003)
     </li>
     <li>
      <a href="convegno_2005.html">...E dopo la vita? (L'uomo e il suo destino)</a><br />
      (Pescara, ottobre 2005)
     </li>
     <li>
      <a href="convegno_2007.html">Verit&agrave; del corpo</a></br />
      (Cividale del Friuli, settembre 2007)
     </li>
     <li>
      Quale etica per la Bioetica<br />
      (Roma, settembre 2009)
     </li>
     <li>
      Verit&agrave;, Democrazia, Pluralismo<br />
      (Roma, maggio 2011)
     </li>
     <li>
      Domande filosofiche e relazioni educative<br />
      (Roma, novembre 2013)
     </li>
     <li>
      Il pensiero e la crisi - Filosofia e primo conflitto mondiale<br />
      (Cividale del Friuli, maggio 2015)
     </li>
     <li>
      Metafisica oggi. Analisi della realt&agrave; e formazione dei giovani<br />
      (Milano, 30 novembre - 1 dicembre 2017)
     </li>
     <li>
      La cura dell’anima. Comunicare, educare, pensare<br />
      (Firenze, 8-10 novembre 2019)
     </li>
    </ol>
