    <h2>Convegni e attivit&agrave; locali</h2>

    <!-- Google Calendar -->
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=it&amp;bgcolor=%23f9f8f7&amp;src=fm2v53pisb3igtjnr9s1oaufqk%40group.calendar.google.com&amp;ctz=Europe%2FRome" style="border-width:0" width="450" height="500" frameborder="0" scrolling="no"></iframe>

    <ul>
     <li>
      <p><strong>IL <em>LOGOS</em> IN FRIULI VENEZIA GIULIA<br />
      Figure del pensiero filosofico friulano giuliano</strong></p>
      <p>(Cividale del Friuli, 16-17-18 ottobre 2008)</p>
     </li>
     <li>
      <p><strong>PENSIERO ED ESISTENZA</strong></p>
      <p>Incontro-dibattito in onore del filosofo goriziano Carlo Michelstaedter a cento anni dalla morte.</p>
      <p>Gorizia, sabato 18 settembre 2010, ore 10.30.<br />
      Auditorium "Biagio Marin" - via XX Settembre, 11</p>
      <p>L'incontro &egrave; organizzato dall'Associazione "Incontri Mitteleuropei" e dall'"Associazione Docenti Italiani Di Filosofia" con il patrocinio della Provincia di Gorizia.</p>
      <p>Le relazioni, cui seguir&agrave; il dibattito, saranno tenute da:</p>

      <p>Prof. Aniceto Molinaro<br />
      (Presidente nazionale del'A.D.I.F. e gi&agrave; docente di Metafisica all'Universit&agrave; del Laterano di Roma)<br />
      <strong>"Carlo Michelstaedter: filosofia e parmenidismo"</strong></p>

      <p>Dott. Michele Schiff<br />
      (Dottore di ricerca in Filosofia e Cultore della materia presso l'Universit&agrave; di Trieste)<br />
      <strong>"Ontologia e poesia di Carlo Michelstaedter"</strong></p>
     </li>
    </ul>
