    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento"</h2>

    <h3>Regolamento</h3>
    <p>In preparazione.</p>
    
    <h3>Comitato scientifico</h3>
    <p>In preparazione.</p>

    <h3>Segreteria di redazione</h3>
    <p>In preparazione.</p>

    <h3>Comitato di redazione</h3>
    <p>In preparazione.</p>
