    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Comitato scientifico</h2>

    <h3>Angela Ales Bello</h3> 
    <p>In preparazione.</p>

    <h3>Roberto Cipriani</h3>
    <p>In preparazione.</p>

    <h3>Friedrich Wilhelm Von Herrmann</h3>
    <p>In preparazione.</p>

    <h3>Ovidiu Horea Pop</h3>
    <p>In preparazione.</p>

    <h3>Bernhard Koerner</h3>
    <p>In preparazione.</p>

    <h3>Giovanni Battista Mondin</h3>
    <p>In preparazione.</p>

    <h3>Vasile Musca</h3>
    <p>In preparazione.</p>

    <h3>Leocir Pessini</h3>
    <p>In preparazione.</p>

    <h3>Anna Maria Pezzella</h3>
    <p>In preparazione.</p>

    <h3>Vittorio Possenti</h3>
    <p>In preparazione.</p>

    <h3>Dario Sacchi</h3>
    <p>In preparazione.</p>

    <h3>Piero Viotto</h3>
    <p>In preparazione.</p>

    <h3>Cataldo Zuccaro</h3>
    <p>In preparazione.</p>
