    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Comitato di redazione</h2>

    <h3>Francisco De Macedo</h3> 
    <p>In preparazione.</p>

    <h3>Marco Grusovin</h3>
    <p>In preparazione.</p>

    <h3>Francesco Russo</h3>
    <p>In preparazione.</p>

    <h3>Maria Teresa Russo</h3>
    <p>In preparazione.</p>

    <h3>Giorgia Salatiello</h3>
    <p>In preparazione.</p>
