    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Comitato scientifico</h2>

    <ul>
      <li>Angela Ales Bello</li>
      <li>Roberto Cipriani</li>
      <li>Friedrich Wilhelm Von Herrmann</li>
      <li>Ovidiu Horea Pop</li>
      <li>Bernhard Koerner</li>
      <li>Giovanni Battista Mondin</li>
      <li>Vasile Musca</li>
      <li>Leocir Pessini</li>
      <li>Anna Maria Pezzella</li>
      <li><a href="/html/it/rivista_per_la_filosofia/cv/vittorio_possenti.html">Vittorio Possenti</a></li>
      <li>Dario Sacchi</li>
      <li>Piero Viotto</li>
      <li>Cataldo Zuccaro</li>
    </ul>
