    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Comitato di redazione</h2>

    <ul>
      <li>Francisco De Macedo</li>
      <li>Marco Grusovin</li>
      <li>Francesco Russo</li>
      <li>Maria Teresa Russo</li>
      <li>Giorgia Salatiello</li>
    </ul>
