    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Comitato di redazione</h2>

    <ul>
      <li>Francisco De Macedo</li>
      <li><a href="/html/it/rivista_per_la_filosofia/cv/marco_grusovin.html">Marco Grusovin</a></li>
      <li><a href="/html/it/rivista_per_la_filosofia/cv/francesco_russo.html">Francesco Russo</a></li>
      <li>Maria Teresa Russo</li>
      <li>Giorgia Salatiello</li>
    </ul>
