    <h2>Fascicoli monografici della rivista <span class="sub_h2">(dal 1984 al 2015)</span></h2>
    <p>Questo &egrave; l'elenco dei fascicoli monografici della rivista pubblicati sino ad ora.<br />
    Tra parentesi i curatori.</p>
    <ul class="grouped-numbers">
     <li>1. Filosofia e scelta etica</li>
     <li>2. Scienza e filosofia</li>
     <li>3. Ragione e filosofia</li>
     <li>4. Teologia e filosofia</li>
     <li>5. Il problema della libert&agrave;</li>
     <li>6. Cultura e filosofia</li>
     <li>7. Religione e filosofia</li>
     <li>8. Umanesimo e filosofia</li>
     <li>9. Libert&agrave;, pace e ragione</li>
     <li>10. Sessualit&agrave; e filosofia</li>
     <li>11. Dio e il mondo</li>
     <li>12. Filosofia e politica</li>
     <li>13. Il problema del male</li>
     <li>14. Storia e filosofia</li>
     <li>15. Fare filosofia cristiana oggi</li>
     <li>16. I compiti della ragione nella societ&agrave; tecnologica</li>
     <li>17. Giustizia ed etica (F. Viola)</li>
     <li>18. Modernit&agrave; e crisi (F. Botturi)</li>
     <li>19. Antropologia e cultura oggi (G. Penati)</li>
     <li>20. Solidariet&agrave; e diritti umani (B. Mondin)</li>
     <li>21. L'unit&agrave; culturale dell'Europa (U. Pellegrino)</li>
     <li>22. Ermeneutica e filosofia (A. Ales Bello)</li>
     <li>23. Modelli dell'etica contemporanea (F. Botturi e F. Viola)</li>
     <li>24. Estetica e poetica (P. Viotto)</li>
     <li>25. Bioetica e persona (F. Botturi e V. Possenti)</li>
     <li>26. Le vie della metafisica (V. Possenti)</li>
     <li>27. La cultura della legalit&agrave; (G. Corso e F. Viola)</li>
     <li>28. Prospettive interdisciplinari del sapere (G. Penati)</li>
     <li>29. Sacro e religioso (A. Ales Bello e G. Penzo)</li>
     <li>30. Le forme della coscienza (M. Roncoroni)</li>
     <li>31. Filosofia della volont&agrave; (B. Mondin e G. Penati)</li>
     <li>32. La riscoperta della natura (F. Viola)</li>
     <li>33. Felicit&agrave; e amore (U. Pellegrino)</li>
     <li>34. Il realismo strada maestra della filosofia</li>
     <li>35. Democrazia e liberalismo (V. Possenti e M. Riboldi)</li>
     <li>36. La sofferenza e la morte (A. Molinaro e G. Penzo)</li>
     <li>37. Amicizia e amore (U. Pellegrino)</li>
     <li>38. La postmodernit&agrave; e &ldquo;l'altro&bdquo; pensiero (G. Penati)</li>
     <li>39. La filosofia dell'educazione (P. Viotto)</li>
     <li>40. Il linguaggio tra verit&agrave; e prassi (G. Penati)</li>
     <li>41. Antonio Rosmini teologo e filosofo europeo (U. Pellegrino)</li>
     <li>42. Cittadinanza e societ&agrave; multiculturale (F. Viola)</li>
     <li>43. Interrogativi sul nichilismo (V. Possenti)</li>
     <li>44. Jacques Maritain: filosofia, teologia, mistica (P. Viotto)</li>
     <li>45. L'Enciclica &ldquo;Fides et ratio&bdquo; (B. Mondin)</li>
     <li>46. Forme e problemi del neoliberalismo (F. Botturi)</li>
     <li>47. La ricerca di Dio (U. Pellegrino)</li>
     <li>48. Dio e il male (A. Molinaro)</li>
     <li>49. Antropologie contemporanee (A. Ales Bello e A. M. Pezzella)</li>
     <li>50. Monoteismo e politeismo (A. Molinaro)</li>
     <li>51-52. Filosofia e religione: risposte all'uomo del terzo millennio (B. Mondin)</li>
     <li>53. Filosofia e mistica (A. Molinaro)</li>
     <li>54. Il problema della storia della filosofia (A. Molinaro)</li>
     <li>55. Karl Jaspers (G. Penzo)</li>
     <li>56. Fascicolo non monografico</li>
     <li>57. Il problema teologico - politico (V. Possenti)</li>
     <li>58. Dove va l'Occidente? (G. Penati)</li>
     <li>59. Globalizzazione: revisioni teoriche e provocazioni tecnologiche (B. Montanari)</li>
     <li>60. La virt&ugrave; e il corso del mondo (D. Venturelli e F. Ghia)</li>
     <li>61. L'ultimo Ricoeur (F. Turoldo)</li>
     <li>62. Nichilismo e storia: un itinerario storico e teoretico (S. Procacci)</li>
     <li>63. Fascicolo non monografico</li>
     <li>64. Crisi dei fondamenti (A. Molinaro)</li>
     <li>65. Temi Kantiani (A. Molinaro)</li>
     <li>66. Verit&agrave; e nichilismo (A. Molinaro)</li>
     <li>67. Finitezza e verit&agrave; (A. Molinaro)</li>
     <li>68. Alternative metafisiche? (A. Molinaro)</li>
     <li>69-70. Fascicolo non monografico</li>
     <li>71. Laicit&agrave; (A. Molinaro)</li>
     <li>72. Fascicolo non monografico</li>
     <li>73-74. Saggio su Rosmini</li>
     <li>75-81. Fascicolo non monografico</li>
     <li>82. Carlo Michelstaedter (1887 - 1910) (A. Molinaro)</li>
     <li>83-89. Fascicolo non monografico</li>
     <li>90. Filosofia e idoli (Luca Valera)</li>
     <li>91-92. Domande filosofiche e relazioni educative (Maria Teresa Russo)</li>
     <li>93-94. Esistenzialismo e cinema (Nicola Di Stefano)</li>
     <li>95. Temi e figure della filosofia rumena e altri saggi (Francisco De Macedo)</li>
     <li>96. I volti della frontiera (Stefano Santasilia)</li>
     <li>97-98. Felicit&agrave; (Gennaro Cicchese)</li>
     <li>99. (In preparazione)</li>
    </ul>
