    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Segreteria di redazione</h2>

    <ul>
      <li>Settimio Luciano</li>
      <li>Ilaria Malagrin&ograve;</li>
      <li>Stefano Santasilia</li>
    </ul>
