    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Segreteria di redazione</h2>

    <h3>Michele Schiff</h3> 
    <p>In preparazione.</p>

    <h3>Luca Valera</h3>
    <p>In preparazione.</p>
