    <h2>Rivista "PER LA FILOSOFIA - Filosofia e insegnamento" - Segreteria di redazione</h2>

    <ul>
      <li><a href="/html/it/rivista_per_la_filosofia/cv/luca_valera.html">Luca Valera</a></li>
    </ul>
